@media screen and (max-width: 992px) {
    .main {
      .main__title {
        font-size: 40px;
        width: 300px;
      }
      .main__input-block {
        width: 80vw;
        .main__input-btn {
            height: 100%;
            width: 50%;
        }
      }
    }
    .wp__exit {
        left: 0;
    }
    .wplayer {
        .wp__container {
            flex-direction: column;
        }   
        .player {
            width: 100vw;
            height: 50vh;
        }
        .sidebar {
            width: 100vw;
            .sidebar-nav {
                width: 90%;
            }
            .download__button {
                position: absolute;
                bottom: 60%;
                margin: 0 auto;
                z-index: 3;
            }
        }
    }
}