$accColor: #66C68C;
$disColor: #4F4F4F;
$defColor: #fff;
$hvrColor: rgb(49, 241, 255);

$defSize: 24px;
$bgSize: 96px;
$smSize: 16px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import 'main';
@import 'player';
@import 'loader';
@import 'responsive';

@keyframes flow {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}

@keyframes gradientFlow {
  0% {
    background-color: #cd9ca5;
  }
  50% {
    background-color: #c9a0e6;
  }
  100% {
    background-color: #a2ebfa;
  }
}

#ac {
  color: $accColor;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: $defColor;
}

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

body {
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  color: $defColor;
}