.wplayer
  .player 
    img.player__bg(src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/0994d841602157.57ac63336b606.jpg", alt="album image")
    h2.player__title  
    h4.player__subtitle  
    .wplayer__hud 
      button.hud__rewind 
      button.hud__stop
      button.hud__speedup
  .sidebar 
    nav.sidebar__nav 
      //- a.nav__link(href="#") 0:15 - Freaks 