.wplayer
  .wp__container 
    button.wp__exit(onclick="UIChecker(webPlayer, false)")
    .player 
      img.player__bg(src="", alt="album image")
      h2.player__title  
      h4.player__subtitle  
      .wplayer__hud 
        button.hud__rewind 
        button.hud__stop
        button.hud__speedup
    .sidebar 
      nav.sidebar__nav 
        ul.nav-list 
      button.download__button(onclick="downloadZip(mainInput.value)") Download ZIP
      //- .sidebar__download
      //-   input.download__radio(type="radio", name="Download ZIP", id="0")
      //-   input.download__radio(type="radio", name="Download Song", id="1")